/* Stylesheet for book cards used in card lists */
body{
  font-family:'Open Sans',sans-serif;
}

.card {
  cursor: move;
  width:320px;
}

.card-list{
  list-style-type:none;
  margin: 0;
  padding: 10px;
}

.card-book-details{
  font-family:'Open Sans',sans-serif;
}

.card-book-image{
  margin-right:15px;
}
