<div class="container" ng-controller="MainCtrl">
  <h4>
    You're currently reading <strong>{{getTotalPagesByList(currentList)}}pgs</strong>
    at <strong>{{pagesPerDay}}pgs</strong> per day.
    It'll take about <br/>{{getDaysLeftByList(currentList)}} days.
  </h4>
  <br/>
    <angucomplete-alt id="newBook"
              placeholder="Add a book"
              pause="500"
              selected-object="addBook"
              remote-url="https://www.googleapis.com/books/v1/volumes?printType=books&q="
              remote-url-data-field="items"
              title-field="volumeInfo.title"
              description-field="volumeInfo.description"
              input-class="form-control form-control-small"></angucomplete-alt>
  <div class="list-container">
    <div class="col-md-6">
      <h4>Currently Reading</h4>
        <ul ui-sortable="sortableOptions" ng-model="currentList" class="card-list">
            <li ng-repeat="book in currentList" class="card panel panel-default panel-body" ng-include="'templates/card.html'">
            </li>
        </ul>
    </div>
    <div class="col-md-6">
      <h4>To Read</h4>
        <ul class="card-list" ui-sortable="sortableOptions" ng-model="toReadList">
            <li ng-repeat="book in toReadList" class="card panel panel-default panel-body" ng-include="'templates/card.html'">
            </li>
        </ul>
    </div>
  </div>
</div>
<div class="alert alert-info">
    Books: {{books}}
    <br/><br/>
    Current: {{currentList}}
    <br/><br/>
    ToRead: {{toReadList}}
</div>
