<div class="container" ng-controller="MainCtrl">
  <h4>
    You're currently reading <strong>{{getTotalPagesByShelf('reading')}}pgs</strong>
    at <strong>{{pagesPerDay}}pgs</strong> per day.
    It'll take about <br/>{{getDaysLeftByShelf('reading')}} days.
  </h4>
  <br/>
  <div ng-model="books">
    <div class="currently-reading-list col-md-6">
      <h4>Currently Reading</h4>
      <div ui-sortable ng-repeat="book in books | filter:shelf='reading'">
          <div class="card panel panel-default panel-body">
              <img class="card-book-image img-responsive pull-left" ng-style="{height:'80px',width:'50px'}" ng-src="{{book.cover}}"/>
              <div class="card-book-details">
                <span class="badge pull-right">{{book.pages}}pgs</span>
                <h4><strong>{{book.title}}</strong></h4>
                <p>{{book.author}} - {{book.year}}</p>
            </div>
          </div>
      </div>
    </div>
    <div class="to-read-list col-md-6">
      <h4>To Read</h4>
      <div ui-sortable ng-repeat="book in books | filter:shelf='to read'">
          <div class="card panel panel-default panel-body">
              <img class="card-book-image img-responsive pull-left" ng-style="{height:'80px',width:'50px'}" ng-src="{{book.cover}}"/>
              <div class="card-book-details">
                <span class="badge pull-right">{{book.pages}}pgs</span>
                <h4><strong>{{book.title}}</strong></h4>
                <p>{{book.author}} - {{book.year}}</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
